<form>
  <div class="mb-3">
    <label for="Post-Title" class="form-label">Title</label>
    <input type="text" class="form-control" id="Post-Title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Post-Content" class="form-label">Content</label>
    <input type="text" class="form-control" id="Post-Content">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>