<h2>Welcome {{username}}</h2>
{{#each userData}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <a href="#" class="btn btn-primary">Check Post</a>
  </div>
</div>
{{/each}}
{{> post}}