<div>
    <form class="login">    
		<h2 class="formlabel" id="login">&#128640;&nbsp;Log in</h2>
			<div class="formPanel">
				<input type="text" id="loginUsername" class="input" placeholder="Username" />			
			    <input type="password" id="loginPassword" class="input" placeholder="Password" />
			</div>
			<button type="submit" id="loginBtn" class="submit-btn">Log In</button>
	</form>
</div>
<script src="/js/login.js"></script>