<div>
    <form class="login">    
		<h2 class="formlabel" id="login">Log In!</h2>
			<div class="formPanel">
				<input type="text" id="loginUsername" class="input" placeholder="Username" />			
			    <input type="password" id="loginPassword" class="input" placeholder="Password" />
			</div>
			<button type="submit" id="loginBtn" class="submit-btn">Log In</button>
	</form>
</div>
<div>
    <form class="signup">    
		<h2 class="formlabel" id="signup">Sign Up!</h2>
			<div class="formPanel">
				<input type="text" id="createUsername" class="input" placeholder="Username" />			
			    <input type="password" id="createPassword" class="input" placeholder="Password" />
			</div>
			<button type="submit" id="createBtn" class="submit-btn">Register</button>
	</form>
</div>
<script src="/js/login.js"></script>
<script src="/js/register.js"></script>